@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&display=swap');

:root {
    --dark-primary-color:#00796B;
    --default-primary-color:#009688;
    --light-primary-color:#B2DFDB;
    --text-primary-color:#FFFFFF;
    --accent-color:#FFC107;
    --primary-text-color:#212121; 
    --secondary-text-color:#757575;
    --divider-color:#BDBDBD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    color: #212121;
}

header {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    height: 50px;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: var(--default-primary-color) 2px solid;
}

.greeting {
    /* border: 2px solid blue; */
    flex-basis: 30%;
    padding-left: 2rem;
    flex-basis: calc(100% / 3);
}

.logo {
    /* border: 2px solid yellow; */
    flex-basis: 30%;
    text-align: center;
    flex-basis: calc(100% / 3);
}

.login {
    display: flex;
        /* border: 2px solid green; */
        flex-basis: calc(100% / 3);
        padding-right: 2rem;
        align-items: center;
        gap: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        justify-content: flex-end;
}

.login_form {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.login_form input {
    height: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    border: none;
    width: 100px;
}

.login_form input:focus {
    border: none;
    border: 1px solid gray;
    outline: none;
}

.login_form svg {
    /* border: 2px solid pink; */
    color: #424242;
}

.login_form a {
    text-decoration: none;
}

.login_form a:hover {
    transform: scale(1.3);
}

.login_form button {
    background-color: transparent;
    border: none;
}

.login_form button:hover {
    cursor: pointer;
}

.balance {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    max-width: 1000px;
    margin: 12px auto;
}

.balance_total {
    font-size: 2rem;
}

main {
    display: flex;
    gap: 1rem;
    max-width: 1000px;
    margin: 2rem auto;
}

.transactions {
    height: 55vh;
    border: 2px solid red;
    width: 60%;
}

.operations {
    height: 55vh;
    border: 2px solid yellow;
    width: 40%;
}

